
.card-title.body-profile{
    height:45px;
}

.body-profile{
    height: 45px;
}
.img-profile{
    float: left;
}
.img-profile img{
    width: 45px;
    height: 45px;
}
.name-profile a{
    text-decoration: none;
    color: black;
}
.name-profile a:hover{
    text-decoration: underline orange;
}
label.new-post, label.edit-post{
    background-color:white;
}
label.new-post:hover, label.edit-post:hover{
    cursor: pointer;
}
.body-searche-user{
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.file-edit-profile, input.edit-post, input.new-post{
    display: none;
}
.btn-modifier-post{
    cursor: pointer;
}
.btn-sm{
    font-size: 0.75rem;
}
.btn:hover{
    color: #fff;
    background-color: #00b3db;
}
.loading-comments{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.name-profile{
    font-size: 1.25rem;
}
.num-stars-ratings b{
    color: #242fd0;
    font-size: 13px;
    line-height: 23px;
    margin-left: 5px;
}

.ratings-stars-post ul.ratings li.star{
    line-height: 20px;
}
.ratings-stars-post ul.ratings li.star::before{
    font-size: 25px;
}
.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    direction: rtl;
    text-align: left;
  }
 
@media all and (max-width: 767px){
    .img-profile img{
        width: 35px;
        height: 35px;
    }
    .name-profile{
        font-size: 1rem;
    }
}
@media all and (max-width: 576px){
    .body-profile .col-sm-2, .card-body .col-sm-2{
        width: 20%;
    }
    .body-profile .col-sm-6, .card-body .col-sm-6{
        width: 46%;
    }
    .ratings {
        width: 56%;
    }
}

/* stars */

 
.star {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
  }
  
  .star:before {
    content: '\2605';
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  
  .star:not(.active):hover,
  .star.selected,
  .star:not(.active):hover ~ .star,
  .star.selected ~ .star{
    transition: color 0.8s ease;
    color: orange;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  /* spiner loading https://loading.io/css/ */
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #463f3f transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  